.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffbb00;
  box-sizing: border-box;
  gap: 40px;
}

.left-side,
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.left-side {
  margin-left: 20px;
}

.right-side {
  margin-right: 20px;
}

.form fieldset {
  border: none;
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #404040;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  width: 85%;
  padding: 10px;
  border: 1px solid #ffbb00;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none; 
  border-color: #ffbb00;
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.5);
}

.form textarea {
  resize: vertical;
  height: 100px;
}

.form button {
  padding: 10px;
  background-color: black;
  color: #ffbb00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: 85%;
  align-self: flex-start;
}

.form button:hover {
  filter: brightness(2) drop-shadow(3px 3px #404040);
}